<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.condorcet.stablum.innovationstechnologiques">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/titleApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Register"
            android:label="@string/titleRegister"
            android:parentActivityName=".MainActivity" >
        </activity>

        <activity android:name=".Menu"
            android:label="@string/titleMenu" >
        </activity>

        <activity android:name=".Score"
            android:label="@string/titleScore"
            android:parentActivityName=".Menu" >
        </activity>

        <activity android:name=".Top10"
            android:label="@string/titleTop10"
            android:parentActivityName=".Menu" >
        </activity>

        <activity android:name=".Games"
            android:label="@string/titleGames"
            android:parentActivityName=".Menu" >
        </activity>

        <activity android:name=".Users"
            android:label="@string/titleUsers"
            android:parentActivityName=".Menu" >
        </activity>

    </application>

</manifest>